*{
 margin:0;
 padding:0;
 font-family: 'Times New Roman', Times, serif;
}
.header{
    min-height: 100vh;
    width:100%;
    background-color: brown;
    background-image: url(images/bgphoto.jpeg);
    /* background-image: linear-gradient(rgba(176, 161, 161, 0.7), rgba(244, 244, 244, 0.7)), url(images/bgphoto.jpeg); */
    background-position: center;
    /* background-size: contain; */
    /* background-size: cover; */
    /* <this shrink the size of the image and made it regular size 
    so everyone can be seen the background-size:cover> */
    position: relative;
}
.nav{
    display: flex;
    padding:1% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.links{
    flex:1;
    text-align:right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    align-items: top;
    padding: 0px 1px;
    height: 45px;
    /* <!--height adjust the size of the header so the links can be properly aligned without half of the words being cut in half> */
    position: relative;
}
.links ul li a{
    color: white;
    align-items: top;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#b57328 ;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    height: 40vh;
    border:1px solid #fff;
    color: rgb(253, 253, 253);
    position:absolute;
    background: rgb(160, 158, 158);
    padding: 12px 20px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 64px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.text-box h8{

    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:white;
    border:1px solid #fff;
    font-size: 13px;
    padding: 12px 34px;
    position:relative;
    cursor: pointer;
    background: transparent;

}
.hero-btn:hover{
    border: 1px solid#4f36f4;
    background: #4f36f4;
    transition:1s;
}

nav .fa{
        display:none;
    }
    
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .links ul li{
        display: list-items;
        padding: 12px 28px;
    }
    .links{
        position: absolute;
        background: rgb(127, 50, 50);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa{
        display: flex;
        color:black;
        margin:10px;
        font-size: 20px;
        cursor: pointer;
    }
    .link ul {
        padding:30px;
    }
}

/*----course----*/
.events{
    width: 80%;
    margin:auto;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #000;
}
p{
    color: rgb(4, 4, 4);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: 300;
    line-height: 22px;
    padding:30px;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .hero{
    display: inline-block;
    text-decoration: none;
    color:rgb(22, 13, 13);
    border:1px solid #fff;
    font-size: 13px;
    position:relative;
    cursor: pointer;
    padding: 12px 34px;
    background: transparent;
    align-items: center;

}
.hero:hover{
    border: 1px solid#4f36f4;
    background: #4f36f4;
    transition:1s;
}
.footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 235, 235);
    padding: 30px 0;  
}
.footer p{
    text-align: left;
    align-self: center;
    font-weight: 600;
    background-position: center;
}
.footer h1{
    text-align: center;
    align-self: center;
    font-weight: 600;;
    width:100%;
    background-position: center;
}
.footer1 h1{
    color:white;
    margin:10px;
    margin: auto;
    font-size: 10px;
}
.footer1{
    box-sizing: inherit;
    display: block;
    box-sizing: inherit;
    align-self: bottom;
    min-height: 30vh;
    width:100%;
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.w3-section, .w3-code {
    color: white;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.w3-xlarge {
    color: white;
    font-size: 24px!important;
}
.contactinfo{
    display: list-item;
    text-align: left;
    padding:20 5px;
    margin:auto;
}

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
}

/* about */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}
body, html {
  height: 100%;
  color: white;
  line-height: 1.8;
  background-color: whitesmoke; 
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("images/bgphoto.jpeg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("images/bgphoto.jpeg");
  min-height: 400px;
}

 /*Third image (Contact) 
.bgimg-3 {
  background-image: url("pic/IMG_7316.jpg");
  min-height: 400px;
}*/

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.bar{
    background-color: brown;
    width:100%;
}
.culturamaimage{
    background-color: white;
    background-image: image("images/culturama.png");
    min-height: 100vh;
    width:100%;
    position: relative;
    background-position: center;
    background-size: cover;
}
video {
    width:900px;
    display: block;
    margin: 0 300px;

    position: relative;
  }